@font-face {
    font-family: 'Fira Sans';
    src: url('subset-FiraSans-MediumItalic.woff2') format('woff2'),
        url('subset-FiraSans-MediumItalic.woff') format('woff'),
        url('subset-FiraSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('subset-FiraSans-Medium.woff2') format('woff2'),
        url('subset-FiraSans-Medium.woff') format('woff'),
        url('subset-FiraSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('subset-FiraSans-Regular.woff2') format('woff2'),
        url('subset-FiraSans-Regular.woff') format('woff'),
        url('subset-FiraSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

